#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  width: 90%;
}

a.active, a.active:hover {
  font-weight: bold;
  font-size: 1.1em;
  color: purple;
}

a:hover {
  font-size: 1.1em;
}